html,body {
    background: url(/img/Background.jpg) no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.sidebar {
    background: #fff !important;
    border-radius:0px 20px 0 0px;
    width: 240px;
}

.sidebar .btn-light {
    background-color: #F8F8F8;
    text-align: left;
}
.sidebar .btn-light img {
    margin-right: 0;
}

.badge-container {
    position: relative;
}

.badge-container .badge.bg-primary {
    border-radius: 500px;
    font-size: 10px;
    top:-7px;
    right: -10px;
    position: absolute;
}

.top-one {
    background: #fff;
    
}