html,body {
    background: url(img/Background.jpg) no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-size: 15px;
}

.headings {
    color: #0014C3;
}

.btn-primary {
    background-color: #0047FF;
}

.sidebar {
    background: #fff !important;
    border-radius:0px 20px 20px 0px;
    width: 240px;
}

.sidebar .btn-light {
    background-color: #F8F8F8;
    text-align: left;
}
.sidebar .btn-light img {
    margin-right: 0;
}

.badge-container {
    position: relative;
}

.badge-container .badge.bg-primary {
    border-radius: 500px;
    font-size: 10px;
    top:-7px;
    right: -10px;
    position: absolute;
}

.second {
    border-radius: 10px;
}

.introduction {
    background: #0047FF;
    border-radius: 9px 9px 0 0;
}


.table-container {
    border-radius: 10px;
    border:1px solid #dee2e6;
}

@media (max-width:768px) {
    .sidebar {
        width: 90%;
        margin-bottom: 45px;
    }
    .news-img {
        min-height: 200px;
        border-radius: 10px;
    }
}